images/
annotations/
results/
external/
build/
*.egg-info
.DS_Store

pyytvistools/__init__.pyc
pyytvistools/_mask.c
pyytvistools/_mask.so
pyytvistools/coco.pyc
pyytvistools/cocoeval.pyc
pyytvistools/mask.pyc

.idea/
.vscode/
