images/
annotations/
results/
external/
build/
__pycache__/

*.egg-info
.DS_Store

pyvistools/__init__.pyc
pyvistools/_mask.c
pyvistools/_mask.so
pyvistools/coco.pyc
pyvistools/cocoeval.pyc
pyvistools/mask.pyc

.idea/
.vscode/
